/*Estilos generales de footer*/

.footer {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 200px;
}

.footer_logo img {
    width: 100px;
}


/*Estilos generales de compra*/

.compras {
    display: flex;
    ;
}

.compras img {
    height: 70px;
    padding: 5px;
    width: 70px;
}

.redes_sociales {
    align-items: center;
    display: flex;
}

.redes_sociales img {
    height: 20px;
    margin-left: 22px;
    width: 20px;
}